In [1]:
from cosecha_colectiva import miscelaneous as m
m.try_find_conf_file()


from cosecha_colectiva import main_tester as mt
from cosecha_colectiva import config
from cosecha_colectiva import query_cosecha as qc
from cosecha_colectiva import test_cosecha_api as tca
from cosecha_colectiva import CAF_DB_Monitor as CDM

from cosecha_colectiva import miscelaneous as m

import logging
import pathlib
from datetime import datetime

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

[2025-02-23 01:09:41,455][INFO]: Connecting root@junction.proxy.rlwy.net:19994
[2025-02-23 01:09:42,801][INFO]: Connected root@junction.proxy.rlwy.net:19994

In [2]:
xls_name = 'Alcancía Viva.xlsx'
#xls_name = 'CAF_GrupoTest.xlsx'
#xls_name = 'CAF_GrupoHidalgo.xlsx'
#xls_name = 'GrupoCafam.xlsx'

#xls_name = 'Yeiyei'

In [3]:
xls_name

'Alcancía Viva.xlsx'

In [4]:
id_grupo = qc.get_grupo_id_by_name(xls_name.split('.')[0])
print(id_grupo)
#qc.delete_grupo(id_grupo, solo_sesiones=True)
#qc.delete_grupo(id_grupo)

2574

In [5]:
qc.delete_grupo(id_grupo, solo_sesiones=True, force_delete=True, desde_sesion_0=True)


#qc.restart_grupo_acciones(id_grupo)

([], 'transaccion_prestamos')
([{'Transaccion_id': 37984}, {'Transaccion_id': 37985}, {'Transaccion_id': 37986}, {'Transaccion_id': 37987}, {'Transaccion_id': 37988}, {'Transaccion_id': 37989}, {'Transaccion_id': 37990}], 'transacciones')
DELETE from railway.transacciones WHERE Transaccion_id in (37984, 37985, 37986, 37987, 37988, 37989, 37990)
([], 'interes_prestamo')
([{'Ganancias_id': 79027}, {'Ganancias_id': 79028}, {'Ganancias_id': 79029}, {'Ganancias_id': 79030}, {'Ganancias_id': 79031}], 'ganancias')
DELETE from railway.ganancias WHERE Ganancias_id in (79027, 79028, 79029, 79030, 79031)
([{'Multa_id': 3452}], 'multas')
DELETE from railway.multas WHERE Multa_id in (3452)
([], 'prestamos')
([{'Prestamo_id': 6262}, {'Prestamo_id': 6263}, {'Prestamo_id': 6264}], 'prestamos')
DELETE from railway.prestamos WHERE Prestamo_id in (6262, 6263, 6264)
([{'Asistencia_id': 136750}, {'Asistencia_id': 136751}, {'Asistencia_id': 136752}, {'Asistencia_id': 136753}, {'Asistencia_id': 136754}, {'Asistencia_id': 136755}, {'Asistencia_id': 136756}, {'Asistencia_id': 136757}, {'Asistencia_id': 136758}, {'Asistencia_id': 136759}], 'asistencias')
DELETE from railway.asistencias WHERE Asistencia_id in (136750, 136751, 136752, 136753, 136754, 136755, 136756, 136757, 136758, 136759)
([{'Sesion_id': 19614}, {'Sesion_id': 19615}], 'sesiones')
DELETE from railway.sesiones WHERE Sesion_id in (19614, 19615)
([], 'acuerdos')

In [6]:
now = datetime.now()
log_date = now.strftime("%Y-%m-%d_%H_%M_%S")
log_file = pathlib.Path(config.log_dir, log_date+'CreacionGrupo.log')
logging.basicConfig(filename=log_file, encoding='utf-8', level=logging.INFO)

In [7]:
monitor_grupo = CDM.CAF_DB_Monitor(id_grupo)

In [8]:
monitor_grupo.socios_acciones

   Grupo_socio_id Tipo_socio  Status  Acciones  Grupo_id  Socio_id
0            8914      SOCIO       1         0      2574      2894
1            8904      SOCIO       1         0      2574      2904
2            8884      ADMIN       1         0      2574      2914
3            8894   SUPLENTE       1         0      2574      2924
4            8924      SOCIO       1         0      2574      2934

In [9]:
start_month = 1
end_month = 2

for month in range(start_month, end_month+1):

    print('month: ', month)

    try:
        monitor_grupo.actualiza_todo_sesion(xls_name, month, type_xls='NEW', bd_update=True)
    except Exception as e:
        print(e)
        raise(e)
        break

month:  1
df_prestamos
     PRÉSTAMO AMPLIACIÓN NUM_SESIONES
2894   [80.0]        [0]          [2]
2924  [100.0]        [0]          [2]
df_prestamos xxxxxxxxxxxxxx
   Socio_id PRÉSTAMO AMPLIACIÓN NUM_SESIONES  Prestamo_id  Grupo_socio_id  \
0      2894     80.0          0            2           -1            8914
1      2924    100.0          0            2           -1            8894

   Grupo_id Tipo_socio  Acciones  Status  monto_total  num_prestamos  \
0      2574      SOCIO        50       1            0              0
1      2574   SUPLENTE        50       1            0              0

   Limite_credito_final  Limite_credito_teorico  puede_pedir_prestamo
0                   200                     200                  True
1                   200                     200                  True
tipo COMPRA_ACCIONES
these_transactions
      Cantidad_movimiento  Caja
2894                   50    50
2904                   50   100
2914                   50   150
2924                   50   200
2934                   50   250
current_caja 0
month:  2
df_abono
             ABONO
Prestamo_id
6265          82.5
6266         103.0
prestamos_activos
            Monto_prestamo Monto_pagado Interes_generado Interes_pagado  \
Prestamo_id
6265                  80.0            0              2.5              0
6266                 100.0            0              3.0              0

            Fecha_inicial Fecha_final Estatus_ampliacion  \
Prestamo_id
6265           2025-02-23  2025-04-23              False
6266           2025-02-23  2025-04-23              False

                                      Observaciones Num_sesiones  \
Prestamo_id
6265         Préstamo generado en script automático            2
6266         Préstamo generado en script automático            2

            Sesiones_restantes  ... Interes_ampliacion Mod_calculo_interes  \
Prestamo_id                     ...
6265                         1  ...               None                   1
6266                         1  ...               None                   1

            Tasa_interes_prestamo_grande interes_futuro Ultimo_interes_pagado  \
Prestamo_id
6265                                 0.0            2.5                     0
6266                                 0.0            3.0                     0

            debe_interes sobrante_abono Ultimo_abono Status_socio  ABONO
Prestamo_id
6265                   0              0            0            1   82.5
6266                   0              0            0            1  103.0

[2 rows x 31 columns]
prestamos_activos 2 .........
            Monto_prestamo Monto_pagado Interes_generado Interes_pagado  \
Prestamo_id
6265                  80.0         80.0              2.5            2.5
6266                 100.0        100.0              3.0            3.0

            Fecha_inicial Fecha_final Estatus_ampliacion  \
Prestamo_id
6265           2025-02-23  2025-04-23              False
6266           2025-02-23  2025-04-23              False

                                      Observaciones Num_sesiones  \
Prestamo_id
6265         Préstamo generado en script automático            2
6266         Préstamo generado en script automático            2

            Sesiones_restantes  ... Interes_ampliacion Mod_calculo_interes  \
Prestamo_id                     ...
6265                         1  ...               None                   1
6266                         1  ...               None                   1

            Tasa_interes_prestamo_grande interes_futuro Ultimo_interes_pagado  \
Prestamo_id
6265                                 0.0            2.5                   2.5
6266                                 0.0            3.0                   3.0

            debe_interes sobrante_abono Ultimo_abono Status_socio  ABONO
Prestamo_id
6265                 2.5           80.0            0            1   82.5
6266                 3.0          100.0            0            1  103.0

[2 rows x 31 columns]
prestamos_activos 3 xxxxxxxxx
            Monto_prestamo Monto_pagado Interes_generado Interes_pagado  \
Prestamo_id
6265                  80.0         80.0              2.5            2.5
6266                 100.0        100.0              3.0            3.0

            Fecha_inicial Fecha_final Estatus_ampliacion  \
Prestamo_id
6265           2025-02-23  2025-04-23              False
6266           2025-02-23  2025-04-23              False

                                      Observaciones Num_sesiones  \
Prestamo_id
6265         Préstamo generado en script automático            2
6266         Préstamo generado en script automático            2

            Sesiones_restantes  ... Ampliacion_prestamos Interes_ampliacion  \
Prestamo_id                     ...
6265                         1  ...                    0               None
6266                         1  ...                    0               None

            Mod_calculo_interes Tasa_interes_prestamo_grande interes_futuro  \
Prestamo_id
6265                          1                          0.0            2.5
6266                          1                          0.0            3.0

            Ultimo_interes_pagado debe_interes sobrante_abono Ultimo_abono  \
Prestamo_id
6265                          2.5          2.5           80.0         82.5
6266                          3.0          3.0          100.0        103.0

            Status_socio
Prestamo_id
6265                   1
6266                   1

[2 rows x 30 columns]
self.prestamos 1 ooooooooooooo
            Monto_prestamo Monto_pagado Interes_generado Interes_pagado  \
Prestamo_id
6265                  80.0            0              2.5              0
6266                 100.0            0              3.0              0

            Fecha_inicial Fecha_final Estatus_ampliacion  \
Prestamo_id
6265           2025-02-23  2025-04-23              False
6266           2025-02-23  2025-04-23              False

                                      Observaciones Num_sesiones  \
Prestamo_id
6265         Préstamo generado en script automático            2
6266         Préstamo generado en script automático            2

            Sesiones_restantes  ... Ampliacion_prestamos Interes_ampliacion  \
Prestamo_id                     ...
6265                         1  ...                    0               None
6266                         1  ...                    0               None

            Mod_calculo_interes Tasa_interes_prestamo_grande interes_futuro  \
Prestamo_id
6265                          1                          0.0            2.5
6266                          1                          0.0            3.0

            Ultimo_interes_pagado debe_interes sobrante_abono Ultimo_abono  \
Prestamo_id
6265                            0            0              0            0
6266                            0            0              0            0

            Status_socio
Prestamo_id
6265                   1
6266                   1

[2 rows x 30 columns]
self.prestamos
   Prestamo_id Monto_prestamo Monto_pagado Interes_generado Interes_pagado  \
0         6265           80.0         80.0              2.5            2.5
1         6266          100.0        100.0              3.0            3.0

  Fecha_inicial Fecha_final Estatus_ampliacion  \
0    2025-02-23  2025-04-23              False
1    2025-02-23  2025-04-23              False

                            Observaciones Num_sesiones  ...  \
0  Préstamo generado en script automático            2  ...
1  Préstamo generado en script automático            2  ...

  Ampliacion_prestamos Interes_ampliacion Mod_calculo_interes  \
0                    0               None                   1
1                    0               None                   1

  Tasa_interes_prestamo_grande interes_futuro Ultimo_interes_pagado  \
0                          0.0            2.5                   2.5
1                          0.0            3.0                   3.0

  debe_interes sobrante_abono Ultimo_abono Status_socio
0          2.5           80.0         82.5            1
1          3.0          100.0        103.0            1

[2 rows x 31 columns]
df_prestamos
     PRÉSTAMO AMPLIACIÓN NUM_SESIONES
2894  [100.0]        [0]          [6]
2914  [100.0]        [0]          [6]
df_prestamos xxxxxxxxxxxxxx
   Socio_id PRÉSTAMO AMPLIACIÓN NUM_SESIONES Prestamo_id  Grupo_socio_id  \
0      2914    100.0          0            6         NaN            8884
1      2894    100.0          0            6        6265            8914

   Grupo_id Tipo_socio  Acciones  Status  monto_total  num_prestamos  \
0      2574      ADMIN       170       1          0.0            0.0
1      2574      SOCIO       120       1         80.0            1.0

   Limite_credito_final  Limite_credito_teorico  puede_pedir_prestamo
0                 680.0                     680                  True
1                 400.0                     480                 False
tipo COMPRA_ACCIONES
these_transactions
      Cantidad_movimiento  Caja
2894                   70    70
2904                   20    90
2914                  120   210
2924                   50   260
2934                   50   310
current_caja 70.0
tipo ABONO
these_transactions
         Cantidad_movimiento           Caja
Socio_id
2894                  [82.5]         [82.5]
2924                 [103.0]  [82.5, 103.0]
current_caja 380.0
can only concatenate list (not "float") to list

TypeError: can only concatenate list (not "float") to list

In [12]:
monitor_grupo.prestamos.loc[0,:]

Prestamo_id                                                     6265.0
Monto_prestamo                                                    80.0
Monto_pagado                                                      80.0
Interes_generado                                                   2.5
Interes_pagado                                                     2.5
Fecha_inicial                                               2025-02-23
Fecha_final                                                 2025-04-23
Estatus_ampliacion                                               False
Observaciones                   Préstamo generado en script automático
Num_sesiones                                                         2
Sesiones_restantes                                                   1
Estatus_prestamo                                                     1
Socio_id                                                          2894
Sesion_id                                                        19616
Acuerdos_id                                                       2204
Prestamo_original_id                                              None
Grupo_id                                                          2574
Tasa_interes                                                       3.0
Limite_credito                                                       4
Creditos_simultaneos                                                 1
Interes_morosidad                                                  1.0
Ampliacion_prestamos                                                 0
Interes_ampliacion                                                None
Mod_calculo_interes                                                  1
Tasa_interes_prestamo_grande                                       0.0
interes_futuro                                                     2.5
Ultimo_interes_pagado                                              2.5
debe_interes                                                       2.5
sobrante_abono                                                    80.0
Ultimo_abono                                                      82.5
Status_socio                                                         1
Name: 0, dtype: object

In [ ]:
config.bd_columnas_prestamo

['Prestamo_id',
 'Monto_prestamo',
 'Monto_pagado',
 'Interes_generado',
 'Interes_pagado',
 'Fecha_inicial',
 'Fecha_final',
 'Estatus_ampliacion',
 'Observaciones',
 'Num_sesiones',
 'Sesiones_restantes',
 'Estatus_prestamo',
 'Socio_id',
 'Sesion_id',
 'Acuerdos_id',
 'Prestamo_original_id']

In [ ]:
woro = monitor_grupo.df_acciones.copy()

AttributeError: 'CAF_DB_Monitor' object has no attribute 'df_acciones'

In [ ]:
woro = woro.rename(columns={'COMPRA_ACCIONES': 'Cantidad_movimiento'})
woro['Caja'] = woro['Cantidad_movimiento'].cumsum()
woro['Caja'] += monitor_grupo.sesiones_bd.loc[monitor_grupo.sesiones_bd.shape[0]-1, 'Caja']
woro['Timestamp'] = datetime.strftime(datetime.now(), format='%Y-%m-%d %H:%M:%S')
woro['Sesion_id'] = monitor_grupo.sesiones_bd.loc[monitor_grupo.sesiones_bd.shape[0]-1, 'Sesion_id']
woro = woro.reset_index(drop=False)
woro = woro.rename(columns={'index': 'Socio_id'})
woro['Acuerdo_id'] = monitor_grupo.acuerdos['Acuerdo_id']
woro['Catalogo_id'] = 'COMPRA_ACCION'

In [ ]:
woro

,Socio_id,Socio_id,Cantidad_movimiento,Caja,Timestamp,Sesion_id,Acuerdo_id
0,0,2894,50,50,2025-02-22 13:37:58,19565,2204
1,1,2904,50,100,2025-02-22 13:37:58,19565,2204
2,2,2914,50,150,2025-02-22 13:37:58,19565,2204
3,3,2924,50,200,2025-02-22 13:37:58,19565,2204
4,4,2934,50,250,2025-02-22 13:37:58,19565,2204

In [ ]:
monitor_grupo.acuerdos

Acuerdo_id                               2204
Grupo_id                                 2574
Fecha_acuerdos                     2024-11-26
Fecha_acuerdos_fin                 2025-11-26
Status                                      1
Periodo_reuniones                           3
Periodo_cargos                              1
Limite_inasistencias                        3
Minimo_aportacion                          50
Costo_acciones                             10
Tasa_interes                              3.0
Limite_credito                              4
Porcentaje_fondo_comun                      0
Creditos_simultaneos                        1
Interes_morosidad                         1.0
Ampliacion_prestamos                        0
Interes_ampliacion                       None
Mod_calculo_interes                         1
Tasa_interes_prestamo_grande              0.0
Id_socio_administrador                   2914
Id_socio_administrador_suplente          2924
dtype: object

In [ ]:
monitor_grupo.caja

70.0

In [ ]:
monitor_grupo.ganancias

   Ganancias_id  Monto_ganancia  Entregada  Socio_id  Sesion_id
0         78972             0.0          0      2894      19555
1         78973             0.0          0      2904      19555
2         78974             0.0          0      2914      19555
3         78975             0.0          0      2924      19555
4         78976             0.0          0      2934      19555

In [ ]:
monitor_grupo.ganancias_acum

Empty DataFrame
Columns: []
Index: []

In [ ]:
monitor_grupo.sesiones

[{'Sesion_id': 19555}]

In [ ]:
monitor_grupo.interes_prestamo

Empty DataFrame
Columns: [Interes_prestamo_id, Prestamo_id, Sesion_id, Monto_interes, Tipo_interes]
Index: []

In [ ]:
monitor_grupo.interes_futuro_prestamo

In [ ]:
monitor_grupo.