In [1]:
from cosecha_colectiva import miscelaneous as m
from cosecha_colectiva import config as config
m.try_find_conf_file()


from cosecha_colectiva import miscelaneous as m

import logging
import pathlib
from datetime import datetime
import datajoint as dj
import time
import numpy as np

import pandas as pd

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

In [35]:
def number_to_excel_column(n):
    result = ''
    while n > 0:
        remainder = (n - 1) % 26
        result = chr(ord('A') + remainder) + result
        n = (n - 1) // 26
    return result

In [67]:
cosecha_db = dj.create_virtual_module(config.db_name, config.db_name)

## Ingresa datos de Grupos

In [ ]:
ogsd = cosecha_db.OldGruposStatsDashboard()
table_attributes = pd.DataFrame.from_dict(ogsd.original_heading.attributes,orient='index')
this_dtypes = table_attributes.dtype.to_dict()
this_cols = table_attributes.index.to_list()

columns_read = 'A:'+number_to_excel_column(len(this_cols))
columns_read

lo

In [ ]:
for i in range(0, len(config.list_viejos_grupos_sheets_id)):
    print(i)
    this_id = config.list_viejos_grupos_sheets_id[i]
    this_data = m.read_excel_sheet_by_id(this_id, 'AutoStats')

    base_url = 'https://docs.google.com/spreadsheets/d/'
    suffix = '/export?format=xlsx'
    url = base_url+this_id+suffix

    df_data = pd.read_excel(url,
                          sheet_name='AutoStats',
                          skiprows=30, nrows=1, names=this_cols, header=None, dtype=this_dtypes
                  )
    df_data = df_data.replace(np.nan, None)
    dict_data = df_data.to_dict('records')
    ogsd.insert(dict_data, skip_duplicates=True)
    time.sleep(0.1)

    if i==0:
        break

0

## Lee datos para las otras tablas (num_socios, num_sesiones, nombre_grupo)

In [64]:
num_socios_grupo = [] 
Grupos_Names = []
num_sesiones_grupo = []
for i in range(0, len(config.list_viejos_grupos_sheets_id)):
    print(i)
    this_id = config.list_viejos_grupos_sheets_id[i]
    this_data = m.read_excel_sheet_by_id(this_id, 'AutoStats')

    base_url = 'https://docs.google.com/spreadsheets/d/'
    suffix = '/export?format=xlsx'
    url = base_url+this_id+suffix

    data_num_socios = pd.read_excel(url,
                          sheet_name='DatosParaStats',
                        nrows=3, usecols='A:B', header=None
                  )
    num_socios_grupo.append(int(data_num_socios.loc[0,1]))
    Grupos_Names.append(data_num_socios.loc[1,1])
    data_num_sesiones = pd.read_excel(url,
                          sheet_name='DatosParaStats',
                          skiprows=59, nrows=1, usecols='A:C', header=None
                  )
    num_sesiones_grupo.append(int(data_num_sesiones.loc[0,2]))

    if i==0:
        break

0

## Ingresa datos Socios

In [65]:
ossd = cosecha_db.OldSociosStatsDashboard()
table_attributes = pd.DataFrame.from_dict(ossd.original_heading.attributes,orient='index')
this_dtypes = table_attributes.dtype.to_dict()
this_cols = table_attributes.index.to_list()

columns_read = 'A:'+number_to_excel_column(len(this_cols))
columns_read

'A:BI'

In [ ]:
for i in range(0, len(config.list_viejos_grupos_sheets_id)):
    print(i)
    print(Grupos_Names[i])
    print('num_socios_grupo[i]', num_socios_grupo[i])
    print('num_sesiones_grupo[i]', num_sesiones_grupo[i])
    this_id = config.list_viejos_grupos_sheets_id[i]
    this_data = m.read_excel_sheet_by_id(this_id, 'AutoStats')

    base_url = 'https://docs.google.com/spreadsheets/d/'
    suffix = '/export?format=xlsx'
    url = base_url+this_id+suffix

    df_data = pd.read_excel(url,
                          sheet_name='AutoStats',
                          skiprows=1, nrows=num_socios_grupo[i], names=this_cols, usecols=columns_read, dtype=this_dtypes, header=None
                  )
    df_data = df_data.replace(np.nan, None)
    dict_data = df_data.to_dict('records')
    ossd.insert(dict_data, skip_duplicates=True)
    time.sleep(0.1)

    if i==0:
        break

0
La Luz
num_socios_grupo[i] 12
num_sesiones_grupo[i] 92

DuplicateError: ("Duplicate entry '1-1' for key 'old_socios_stats_dashboard.PRIMARY'", 'To ignore duplicate entries in insert, set skip_duplicates=True')

## Ingresa datos Sesiones

In [ ]:
oSeSd = cosecha_db.OldSesionesStatsDashboard()
table_attributes = pd.DataFrame.from_dict(oSeSd.original_heading.attributes,orient='index')
this_dtypes = table_attributes.dtype.to_dict()
this_cols = table_attributes.index.to_list()

columns_read = 'D:'+number_to_excel_column(len(this_cols)+3)
columns_read

'D:BJ'

In [81]:
this_dtypes

{'nombre_grupo': object,
 'Sesion_id': numpy.int64,
 'Fecha': object,
 'Activa': object,
 'Caja': numpy.float64,
 'Acciones': object,
 'Ganancias': numpy.float64,
 'Fecha_prox_reunion': object,
 'Lugar_prox_reunion': object,
 'Tipo_sesion': object,
 'Grupo_id': numpy.int64,
 'created_at': object,
 'duracion_sesion_aprox': object,
 'caja_previa': numpy.float64,
 'acciones_previas': object,
 'gancias_acumuladas': numpy.float64,
 'entradas_menos_salidas_sesion': numpy.float64,
 'acciones_sesion': object,
 'diff_ganancias_ga_vs_transaccion': numpy.float64,
 'diff_ganancias_ga_vs_sesion': numpy.float64,
 'sesion_id_prestamos': object,
 'num_prestamos_sesion': object,
 'sum_monto_prestamo': numpy.float64,
 'promedio_monto_prestamo': numpy.float64,
 'ampliaciones': object,
 'sesion_id_multas': object,
 'sum_monto_multas': numpy.float64,
 'num_multas': object,
 'sesion_id_asistencias': object,
 'num_socios_presente': object,
 'tasa_asistencia': object,
 'tasa_retardos': object,
 'sesion_id_transacciones': object,
 'sum_abonos_prestamos': numpy.float64,
 'count_abonos_prestamos': object,
 'sum_compra_acciones': numpy.float64,
 'count_compra_acciones': object,
 'sum_entrega_prestamos': numpy.float64,
 'count_entrega_prestamos': object,
 'sum_pago_multas': numpy.float64,
 'count_pago_multas': object,
 'sum_retiro_acciones': numpy.float64,
 'count_retiro_acciones': object,
 'sum_entradas': numpy.float64,
 'sum_salidas': numpy.float64,
 'sum_monto_abono_prestamo': numpy.float64,
 'sum_monto_abono_interes': numpy.float64,
 'ultima_transaccion': object,
 'sesion_id_ganancias': object,
 'sum_ganancias': numpy.float64,
 'sum_ganancias_entregadas': numpy.float64,
 'num_ganancias': object,
 'sesion_id_interes_prestamo': object,
 'sum_interes': numpy.float64,
 'num_prestamos_activos': object,
 'num_prestamos_vigentes': object,
 'num_prestamos_morosos': object,
 'num_prestamos_ampliados': object,
 'num_prestamos_ampliados_morosos': object}

In [82]:
for i in range(0, len(config.list_viejos_grupos_sheets_id)):
    print(i)
    print(Grupos_Names[i])
    print('num_socios_grupo[i]', num_socios_grupo[i])
    print('num_sesiones_grupo[i]', num_sesiones_grupo[i])
    this_id = config.list_viejos_grupos_sheets_id[i]
    this_data = m.read_excel_sheet_by_id(this_id, 'AutoStats')

    base_url = 'https://docs.google.com/spreadsheets/d/'
    suffix = '/export?format=xlsx'
    url = base_url+this_id+suffix

    df_data = pd.read_excel(url,
                          sheet_name='AutoStatsSesiones',
                          skiprows=200, nrows=num_sesiones_grupo[i], names=this_cols, usecols=columns_read, header=None, dtype=this_dtypes
                  )
    df_data = df_data.replace(np.nan, None)
    dict_data = df_data.to_dict('records')
    #oSeSd.insert(dict_data, skip_duplicates=True)
    time.sleep(0.1)

    if i==0:
        break

0
La Luz
num_socios_grupo[i] 12
num_sesiones_grupo[i] 92

/var/folders/sg/5bw1t8p11nx09k7kmytnmfb40000gp/T/ipykernel_69425/523182906.py:13: FutureWarning: Defining usecols with out of bounds indices is deprecated and will raise a ParserError in a future version.
  df_data = pd.read_excel(url,
/var/folders/sg/5bw1t8p11nx09k7kmytnmfb40000gp/T/ipykernel_69425/523182906.py:13: ParserWarning: Length of header or names does not match length of data. This leads to a loss of data with index_col=False.
  df_data = pd.read_excel(url,

In [73]:
df_data

,nombre_grupo,Sesion_id,Fecha,Activa,Caja,Acciones,Ganancias,Fecha_prox_reunion,Lugar_prox_reunion,Tipo_sesion,...,sum_ganancias,sum_ganancias_entregadas,num_ganancias,sesion_id_interes_prestamo,sum_interes,num_prestamos_activos,num_prestamos_vigentes,num_prestamos_morosos,num_prestamos_ampliados,num_prestamos_ampliados_morosos
0,1,2016,10,La Luz,1,2016-10-01,0,None,900,0.0,...,0.0,2016-10-01 22:59:59.712,1,0.0,0,1,0,0,0,0
1,1,2016,11,La Luz,2,2016-11-01,0,None,700,45.0,...,0.0,2016-11-01 22:59:59.712,2,45.0,9,2,0,0,0,0
2,1,2016,12,La Luz,3,2016-12-01,0,None,810,0.0,...,0.0,2016-12-01 22:59:59.712,3,0.0,0,3,0,0,0,0
3,1,2017,1,La Luz,4,2017-01-01,0,None,1330,60.0,...,30.0,2017-01-01 22:59:59.712,4,60.0,10,4,3,3,3,0
4,1,2017,2,La Luz,5,2017-02-01,0,None,1000,47.0,...,32.0,2017-02-01 22:59:59.712,5,47.0,10,5,2,2,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,1,2024,8,La Luz,88,2024-08-01,0,None,2290,1000.5,...,980.5,2024-08-01 22:59:59.712,88,1000.5,11,88,10,10,10,0
88,1,2024,9,La Luz,89,2024-09-01,0,None,3860,766.5,...,746.5,2024-09-01 22:59:59.712,89,766.5,11,89,9,9,9,0
89,1,2024,10,La Luz,90,2024-10-01,0,None,28280,1164.0,...,1139.0,2024-10-01 22:59:59.712,90,1164.0,11,90,10,10,10,0
90,1,2024,11,La Luz,91,2024-11-01,0,None,2620,1189.0,...,1169.0,2024-11-01 22:59:59.712,91,1189.0,11,91,10,10,10,0
91,1,2024,12,La Luz,92,2024-12-01,0,None,830,893.0,...,883.0,2024-12-01 22:59:59.712,92,893.0,11,92,9,9,9,0