In [1]:
from cosecha_colectiva import miscelaneous as m
m.try_find_conf_file()

from cosecha_colectiva import main_tester as mt
from cosecha_colectiva import query_cosecha as qc
from cosecha_colectiva import config
from cosecha_colectiva import CAF_DB_Monitor as CDM
from cosecha_colectiva import test_cosecha_api as tca

import logging
import pathlib
from datetime import datetime
import pandas as pd

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

[2025-01-27 16:46:14,542][INFO]: Connecting root@junction.proxy.rlwy.net:19994
[2025-01-27 16:46:15,850][INFO]: Connected root@junction.proxy.rlwy.net:19994

In [2]:
#xls_name = 'CAF_GrupoTesteador.xlsx'
xls_name = 'CAF_GrupoAstronomo.xlsx'
xls_name = 'CAF_GrupoMesero.xlsx'
#xls_name = 'CAF_GrupoDomador.xlsx'
#xls_name = 'CAF_GrupoCafam.xlsx'
#xls_name = 'GrupoCafam.xlsx'
#xls_name = 'CAF_GrupoHidalgo.xlsx'
#xls_name = 'CAF_GrupoCalcetin.xlsx'
xls_name = 'Alcanc√≠a Viva'

In [3]:
id_grupo = qc.get_grupo_id_by_name(xls_name.split('.')[0])
print(id_grupo)

2574

In [4]:
id_grupo

2574

In [5]:
qc.delete_grupo(id_grupo, solo_sesiones=True, force_delete=False)

([{'Transaccion_prestamo_id': 10734}, {'Transaccion_prestamo_id': 10735}, {'Transaccion_prestamo_id': 10736}, {'Transaccion_prestamo_id': 10737}, {'Transaccion_prestamo_id': 10738}, {'Transaccion_prestamo_id': 10739}, {'Transaccion_prestamo_id': 10740}], 'transaccion_prestamos')
DELETE from railway.transaccion_prestamos WHERE Transaccion_prestamo_id in (10734, 10735, 10736, 10737, 10738, 10739, 10740)
([{'Transaccion_id': 37788}, {'Transaccion_id': 37789}, {'Transaccion_id': 37790}, {'Transaccion_id': 37791}, {'Transaccion_id': 37792}, {'Transaccion_id': 37793}, {'Transaccion_id': 37794}, {'Transaccion_id': 37795}, {'Transaccion_id': 37796}, {'Transaccion_id': 37797}, {'Transaccion_id': 37798}, {'Transaccion_id': 37799}, {'Transaccion_id': 37800}, {'Transaccion_id': 37801}, {'Transaccion_id': 37802}, {'Transaccion_id': 37803}, {'Transaccion_id': 37804}, {'Transaccion_id': 37805}, {'Transaccion_id': 37806}], 'transacciones')
DELETE from railway.transacciones WHERE Transaccion_id in (37788, 37789, 37790, 37791, 37792, 37793, 37794, 37795, 37796, 37797, 37798, 37799, 37800, 37801, 37802, 37803, 37804, 37805, 37806)
([{'Interes_prestamo_id': 103168}, {'Interes_prestamo_id': 103169}, {'Interes_prestamo_id': 103170}, {'Interes_prestamo_id': 103171}, {'Interes_prestamo_id': 103172}, {'Interes_prestamo_id': 103173}, {'Interes_prestamo_id': 103174}, {'Interes_prestamo_id': 103175}, {'Interes_prestamo_id': 103176}, {'Interes_prestamo_id': 103177}, {'Interes_prestamo_id': 103178}, {'Interes_prestamo_id': 103179}], 'interes_prestamo')
DELETE from railway.interes_prestamo WHERE Interes_prestamo_id in (103168, 103169, 103170, 103171, 103172, 103173, 103174, 103175, 103176, 103177, 103178, 103179)
([{'Ganancias_id': 78874}, {'Ganancias_id': 78875}, {'Ganancias_id': 78876}, {'Ganancias_id': 78877}, {'Ganancias_id': 78878}, {'Ganancias_id': 78879}, {'Ganancias_id': 78880}, {'Ganancias_id': 78881}, {'Ganancias_id': 78882}, {'Ganancias_id': 78883}, {'Ganancias_id': 78884}, {'Ganancias_id': 78885}, {'Ganancias_id': 78886}, {'Ganancias_id': 78887}, {'Ganancias_id': 78888}, {'Ganancias_id': 78889}, {'Ganancias_id': 78890}, {'Ganancias_id': 78891}, {'Ganancias_id': 78892}, {'Ganancias_id': 78893}, {'Ganancias_id': 78894}, {'Ganancias_id': 78895}, {'Ganancias_id': 78896}, {'Ganancias_id': 78897}, {'Ganancias_id': 78898}, {'Ganancias_id': 78899}, {'Ganancias_id': 78900}, {'Ganancias_id': 78901}, {'Ganancias_id': 78902}, {'Ganancias_id': 78903}, {'Ganancias_id': 78904}, {'Ganancias_id': 78905}, {'Ganancias_id': 78906}, {'Ganancias_id': 78907}, {'Ganancias_id': 78908}, {'Ganancias_id': 78909}, {'Ganancias_id': 78910}, {'Ganancias_id': 78911}, {'Ganancias_id': 78912}, {'Ganancias_id': 78913}, {'Ganancias_id': 78914}, {'Ganancias_id': 78915}, {'Ganancias_id': 78916}, {'Ganancias_id': 78917}, {'Ganancias_id': 78918}, {'Ganancias_id': 78919}, {'Ganancias_id': 78920}, {'Ganancias_id': 78921}, {'Ganancias_id': 78922}, {'Ganancias_id': 78923}, {'Ganancias_id': 78924}, {'Ganancias_id': 78925}, {'Ganancias_id': 78926}, {'Ganancias_id': 78927}, {'Ganancias_id': 78928}, {'Ganancias_id': 78929}, {'Ganancias_id': 78930}, {'Ganancias_id': 78931}, {'Ganancias_id': 78932}, {'Ganancias_id': 78933}, {'Ganancias_id': 78934}, {'Ganancias_id': 78935}, {'Ganancias_id': 78936}, {'Ganancias_id': 78937}, {'Ganancias_id': 78938}, {'Ganancias_id': 78939}, {'Ganancias_id': 78940}, {'Ganancias_id': 78941}, {'Ganancias_id': 78942}, {'Ganancias_id': 78943}, {'Ganancias_id': 78944}, {'Ganancias_id': 78945}, {'Ganancias_id': 78946}, {'Ganancias_id': 78947}, {'Ganancias_id': 78948}, {'Ganancias_id': 78949}, {'Ganancias_id': 78950}, {'Ganancias_id': 78951}], 'ganancias')
DELETE from railway.ganancias WHERE Ganancias_id in (78874, 78875, 78876, 78877, 78878, 78879, 78880, 78881, 78882, 78883, 78884, 78885, 78886, 78887, 78888, 78889, 78890, 78891, 78892, 78893, 78894, 78895, 78896, 78897, 78898, 78899, 78900, 78901, 78902, 78903, 78904, 78905, 78906, 78907, 78908, 78909, 78910, 78911, 78912, 78913, 78914, 78915, 78916, 78917, 78918, 78919, 78920, 78921, 78922, 78923, 78924, 78925, 78926, 78927, 78928, 78929, 78930, 78931, 78932, 78933, 78934, 78935, 78936, 78937, 78938, 78939, 78940, 78941, 78942, 78943, 78944, 78945, 78946, 78947, 78948, 78949, 78950, 78951)
([{'Multa_id': 3421}, {'Multa_id': 3422}], 'multas')
DELETE from railway.multas WHERE Multa_id in (3421, 3422)
([], 'prestamos')
([{'Prestamo_id': 6189}, {'Prestamo_id': 6190}, {'Prestamo_id': 6191}, {'Prestamo_id': 6192}], 'prestamos')
DELETE from railway.prestamos WHERE Prestamo_id in (6189, 6190, 6191, 6192)
([{'Asistencia_id': 136432}, {'Asistencia_id': 136433}, {'Asistencia_id': 136434}, {'Asistencia_id': 136435}, {'Asistencia_id': 136436}, {'Asistencia_id': 136437}, {'Asistencia_id': 136438}, {'Asistencia_id': 136439}, {'Asistencia_id': 136440}, {'Asistencia_id': 136441}, {'Asistencia_id': 136442}, {'Asistencia_id': 136443}, {'Asistencia_id': 136444}, {'Asistencia_id': 136445}, {'Asistencia_id': 136446}, {'Asistencia_id': 136447}, {'Asistencia_id': 136448}, {'Asistencia_id': 136449}, {'Asistencia_id': 136450}, {'Asistencia_id': 136451}, {'Asistencia_id': 136452}, {'Asistencia_id': 136453}, {'Asistencia_id': 136454}, {'Asistencia_id': 136455}, {'Asistencia_id': 136456}, {'Asistencia_id': 136457}, {'Asistencia_id': 136458}, {'Asistencia_id': 136459}, {'Asistencia_id': 136460}, {'Asistencia_id': 136461}, {'Asistencia_id': 136462}, {'Asistencia_id': 136463}, {'Asistencia_id': 136464}, {'Asistencia_id': 136465}, {'Asistencia_id': 136466}, {'Asistencia_id': 136467}, {'Asistencia_id': 136468}, {'Asistencia_id': 136469}, {'Asistencia_id': 136470}, {'Asistencia_id': 136471}, {'Asistencia_id': 136472}, {'Asistencia_id': 136473}, {'Asistencia_id': 136474}, {'Asistencia_id': 136475}, {'Asistencia_id': 136476}, {'Asistencia_id': 136477}, {'Asistencia_id': 136478}, {'Asistencia_id': 136479}, {'Asistencia_id': 136480}, {'Asistencia_id': 136481}, {'Asistencia_id': 136482}, {'Asistencia_id': 136483}, {'Asistencia_id': 136484}, {'Asistencia_id': 136485}, {'Asistencia_id': 136486}, {'Asistencia_id': 136487}, {'Asistencia_id': 136488}, {'Asistencia_id': 136489}, {'Asistencia_id': 136490}, {'Asistencia_id': 136491}, {'Asistencia_id': 136492}, {'Asistencia_id': 136493}, {'Asistencia_id': 136494}, {'Asistencia_id': 136495}, {'Asistencia_id': 136496}, {'Asistencia_id': 136497}, {'Asistencia_id': 136498}, {'Asistencia_id': 136499}, {'Asistencia_id': 136500}, {'Asistencia_id': 136501}, {'Asistencia_id': 136502}, {'Asistencia_id': 136503}, {'Asistencia_id': 136504}, {'Asistencia_id': 136505}, {'Asistencia_id': 136506}, {'Asistencia_id': 136507}, {'Asistencia_id': 136508}, {'Asistencia_id': 136509}, {'Asistencia_id': 136510}, {'Asistencia_id': 136511}, {'Asistencia_id': 136512}, {'Asistencia_id': 136513}, {'Asistencia_id': 136514}, {'Asistencia_id': 136515}, {'Asistencia_id': 136516}, {'Asistencia_id': 136517}, {'Asistencia_id': 136518}, {'Asistencia_id': 136519}], 'asistencias')
DELETE from railway.asistencias WHERE Asistencia_id in (136432, 136433, 136434, 136435, 136436, 136437, 136438, 136439, 136440, 136441, 136442, 136443, 136444, 136445, 136446, 136447, 136448, 136449, 136450, 136451, 136452, 136453, 136454, 136455, 136456, 136457, 136458, 136459, 136460, 136461, 136462, 136463, 136464, 136465, 136466, 136467, 136468, 136469, 136470, 136471, 136472, 136473, 136474, 136475, 136476, 136477, 136478, 136479, 136480, 136481, 136482, 136483, 136484, 136485, 136486, 136487, 136488, 136489, 136490, 136491, 136492, 136493, 136494, 136495, 136496, 136497, 136498, 136499, 136500, 136501, 136502, 136503, 136504, 136505, 136506, 136507, 136508, 136509, 136510, 136511, 136512, 136513, 136514, 136515, 136516, 136517, 136518, 136519)
([{'Sesion_id': 19514}, {'Sesion_id': 19515}, {'Sesion_id': 19516}, {'Sesion_id': 19517}, {'Sesion_id': 19518}, {'Sesion_id': 19519}, {'Sesion_id': 19520}, {'Sesion_id': 19521}, {'Sesion_id': 19522}, {'Sesion_id': 19523}], 'sesiones')
DELETE from railway.sesiones WHERE Sesion_id in (19514, 19515, 19516, 19517, 19518, 19519, 19520, 19521, 19522, 19523)
([], 'acuerdos')

In [5]:
now = datetime.now()
log_date = now.strftime("%Y-%m-%d_%H_%M_%S")
log_file = pathlib.Path(config.log_dir, log_date+'_Sesiones.log')
log_file
logging.basicConfig(filename=log_file, encoding='utf-8', level=logging.INFO)

In [7]:
# tca.CAF_API_sessions_tester.poner_corriente_grupo(xls_name)

In [8]:
monitor_grupo = CDM.CAF_DB_Monitor(id_grupo)

In [9]:
monitor_grupo.limite_credito_socios

,Tipo_socio,Status,Acciones,Socio_id,monto_total,num_prestamos,Limite_credito_final,Limite_credito_teorico,puede_pedir_prestamo
0,ADMIN,1,100,1194,0,0,2000,2000,True
1,SUPLENTE,1,100,1204,0,0,2000,2000,True
2,SOCIO,1,100,1214,0,0,2000,2000,True
3,SOCIO,1,100,1224,0,0,2000,2000,True
4,SOCIO,1,100,1234,0,0,2000,2000,True
5,SOCIO,1,100,1244,0,0,2000,2000,True
6,SOCIO,1,100,1254,0,0,2000,2000,True
7,SOCIO,1,100,1264,0,0,2000,2000,True
8,SOCIO,1,100,1274,0,0,2000,2000,True
9,SOCIO,1,100,1284,0,0,2000,2000,True

In [10]:
start_month = 1
end_month = 1

for month in range(start_month, end_month+1):

    print('month: ', month)

    try:
        monitor_grupo.actualiza_todo_sesion(xls_name, month, type_xls='NEW')
    except Exception as e:
        print(e)
        raise(e)
    try:
        mt.test_sesion_months(xls_name, month, month, type_xls='NEW', id_grupo=id_grupo)
    except Exception as e:
        print(e)
        raise(e)
    [status, dfs] = monitor_grupo.compara_db_monitor()
    if not status:
        print('Algo no coincidi√≥')
        break

month:  1
ganancias_totales_sesion 0
1000
   Acciones  Socio_id  Monto_ganancia_floor  sobrante_Monto_ganancia  \
0       100      1194                   0.0                        0
1       100      1204                   0.0                        0
2       100      1214                   0.0                        0
3       100      1224                   0.0                        0
4       100      1234                   0.0                        0
5       100      1244                   0.0                        0
6       100      1254                   0.0                        0
7       100      1264                   0.0                        0
8       100      1274                   0.0                        0
9       100      1284                   0.0                        0

   Monto_ganancia  Entregada  Sesion_id  Ganancias_id
0             0.0          0      19488         78644
1             0.0          0      19488         78645
2             0.0          0      19488         78646
3             0.0          0      19488         78647
4             0.0          0      19488         78648
5             0.0          0      19488         78649
6             0.0          0      19488         78650
7             0.0          0      19488         78651
8             0.0          0      19488         78652
9             0.0          0      19488         78653
<Response [200]>
<Response [200]>
create_session fun
url_crear_sesion aqui .....
{'code': 200, 'message': 'Sesion creada y asistencias registradas', 'sesionType': 1, 'Sesiones_restantes': None}
<Response [200]>
{"code":200,"message":"Sesion creada y asistencias registradas","sesionType":1,"Sesiones_restantes":null}
id_grupo 2394
month:  2
ganancias_totales_sesion 9.0
1000
   Acciones  Socio_id  Monto_ganancia_floor  sobrante_Monto_ganancia  \
0       100      1194                   0.5                      0.5
1       100      1204                   0.5                      0.5
2       100      1214                   0.5                      0.5
3       100      1224                   0.5                      0.5
4       100      1234                   0.5                      0.5
5       100      1244                   0.5                      0.5
6       100      1254                   0.5                      0.5
7       100      1264                   0.5                      0.5
8       100      1274                   0.5                      0.0
9       100      1284                   0.5                      0.0

   Monto_ganancia  Entregada  Sesion_id  Ganancias_id
0             1.0          0      19489         78654
1             1.0          0      19489         78655
2             1.0          0      19489         78656
3             1.0          0      19489         78657
4             1.0          0      19489         78658
5             1.0          0      19489         78659
6             1.0          0      19489         78660
7             1.0          0      19489         78661
8             0.5          0      19489         78662
9             0.5          0      19489         78663
<Response [200]>
<Response [200]>
create_session fun
url_crear_sesion aqui .....
{'code': 200, 'message': 'Sesion creada y asistencias registradas', 'sesionType': 1, 'Sesiones_restantes': None}
<Response [200]>
{"code":200,"message":"Sesion creada y asistencias registradas","sesionType":1,"Sesiones_restantes":null}
id_grupo 2394
month:  3
ganancias_totales_sesion 9.0
1000
   Acciones  Socio_id  Monto_ganancia_floor  sobrante_Monto_ganancia  \
0       100      1194                   0.5                      0.5
1       100      1204                   0.5                      0.5
2       100      1214                   0.5                      0.5
3       100      1224                   0.5                      0.5
4       100      1234                   0.5                      0.5
5       100      1244                   0.5                      0.5
6       100      1254                   0.5                      0.5
7       100      1264                   0.5                      0.5
8       100      1274                   0.5                      0.0
9       100      1284                   0.5                      0.0

   Monto_ganancia  Entregada  Sesion_id  Ganancias_id
0             1.0          0      19490         78664
1             1.0          0      19490         78665
2             1.0          0      19490         78666
3             1.0          0      19490         78667
4             1.0          0      19490         78668
5             1.0          0      19490         78669
6             1.0          0      19490         78670
7             1.0          0      19490         78671
8             0.5          0      19490         78672
9             0.5          0      19490         78673
<Response [200]>
<Response [200]>
create_session fun
url_crear_sesion aqui .....
{'code': 200, 'message': 'Sesion creada y asistencias registradas', 'sesionType': 1, 'Sesiones_restantes': None}
<Response [200]>
{"code":200,"message":"Sesion creada y asistencias registradas","sesionType":1,"Sesiones_restantes":null}
id_grupo 2394
month:  4
ganancias_totales_sesion 32.0
1000
   Acciones  Socio_id  Monto_ganancia_floor  sobrante_Monto_ganancia  \
0       100      1194                   3.0                      0.5
1       100      1204                   3.0                      0.5
2       100      1214                   3.0                      0.5
3       100      1224                   3.0                      0.5
4       100      1234                   3.0                      0.0
5       100      1244                   3.0                      0.0
6       100      1254                   3.0                      0.0
7       100      1264                   3.0                      0.0
8       100      1274                   3.0                      0.0
9       100      1284                   3.0                      0.0

   Monto_ganancia  Entregada  Sesion_id  Ganancias_id
0             3.5          0      19491         78674
1             3.5          0      19491         78675
2             3.5          0      19491         78676
3             3.5          0      19491         78677
4             3.0          0      19491         78678
5             3.0          0      19491         78679
6             3.0          0      19491         78680
7             3.0          0      19491         78681
8             3.0          0      19491         78682
9             3.0          0      19491         78683
<Response [200]>
<Response [200]>
create_session fun
url_crear_sesion aqui .....
{'code': 200, 'message': 'Sesion creada y asistencias registradas', 'sesionType': 1, 'Sesiones_restantes': None}
<Response [200]>
{"code":200,"message":"Sesion creada y asistencias registradas","sesionType":1,"Sesiones_restantes":null}
id_grupo 2394
month:  5
ganancias_totales_sesion 8.0
1000
   Acciones  Socio_id  Monto_ganancia_floor  sobrante_Monto_ganancia  \
0       100      1194                   0.5                      0.5
1       100      1204                   0.5                      0.5
2       100      1214                   0.5                      0.5
3       100      1224                   0.5                      0.5
4       100      1234                   0.5                      0.5
5       100      1244                   0.5                      0.5
6       100      1254                   0.5                      0.0
7       100      1264                   0.5                      0.0
8       100      1274                   0.5                      0.0
9       100      1284                   0.5                      0.0

   Monto_ganancia  Entregada  Sesion_id  Ganancias_id
0             1.0          0      19492         78684
1             1.0          0      19492         78685
2             1.0          0      19492         78686
3             1.0          0      19492         78687
4             1.0          0      19492         78688
5             1.0          0      19492         78689
6             0.5          0      19492         78690
7             0.5          0      19492         78691
8             0.5          0      19492         78692
9             0.5          0      19492         78693
<Response [200]>
<Response [200]>
create_session fun
url_crear_sesion aqui .....
{'code': 200, 'message': 'Sesion creada y asistencias registradas', 'sesionType': 1, 'Sesiones_restantes': None}
<Response [200]>
{"code":200,"message":"Sesion creada y asistencias registradas","sesionType":1,"Sesiones_restantes":null}
id_grupo 2394

In [12]:
monitor_grupo.ganancias_sesion

,Acciones,Socio_id,Monto_ganancia_floor,sobrante_Monto_ganancia,Monto_ganancia,Entregada,Sesion_id,Ganancias_id
0,100,1194,0.5,0.5,1.0,0,19492,78684
1,100,1204,0.5,0.5,1.0,0,19492,78685
2,100,1214,0.5,0.5,1.0,0,19492,78686
3,100,1224,0.5,0.5,1.0,0,19492,78687
4,100,1234,0.5,0.5,1.0,0,19492,78688
5,100,1244,0.5,0.5,1.0,0,19492,78689
6,100,1254,0.5,0.0,0.5,0,19492,78690
7,100,1264,0.5,0.0,0.5,0,19492,78691
8,100,1274,0.5,0.0,0.5,0,19492,78692
9,100,1284,0.5,0.0,0.5,0,19492,78693

In [13]:
monitor_grupo.prestamos.loc[0,:]

Prestamo_id                      6169
Monto_prestamo                  500.0
Monto_pagado                     29.0
Interes_generado                 39.5
Interes_pagado                   30.0
Estatus_ampliacion              False
Num_sesiones                        6
Sesiones_restantes                  2
Estatus_prestamo                    0
Socio_id                         1234
Sesion_id                       19488
Acuerdos_id                      2044
Prestamo_original_id             None
Grupo_id                         2394
Tasa_interes                      2.0
Limite_credito                     20
Creditos_simultaneos                2
Interes_morosidad                 1.5
Ampliacion_prestamos                1
Interes_ampliacion                1.5
Mod_calculo_interes                 0
Tasa_interes_prestamo_grande      1.5
interes_futuro                    9.5
Ultimo_interes_pagado               0
debe_interes                      9.5
sobrante_abono                    NaN
Ultimo_abono                      NaN
Status_socio                        1
Name: 0, dtype: object

In [14]:
monitor_grupo.interes_prestamo

   Interes_prestamo_id Prestamo_id  Sesion_id  Monto_interes  Tipo_interes
0               103148        6169      19489           10.0             0
1               103149        6170      19490           10.0             0
2               103150        6169      19490           10.0             0
3               103151        6170      19491           10.0             0
4               103152        6169      19491           10.0             0
5               103153        6170      19492            8.0             0
6               103154        6169      19492            9.5             0

In [15]:
dfs

[]

In [19]:
monitor_grupo.ganancias.groupby('Socio_id').sum()

          Ganancias_id  Monto_ganancia  Entregada  Sesion_id
Socio_id
1194            461494             6.5          1     113394
1204            461509             6.5          1     113394
1214            461524             6.5          1     113394
1224            461539             6.5          1     113394
1234            461554             6.0          1     113394
1244            461569             6.0          1     113394
1254            461584             5.5          1     113394
1264            461599             5.5          1     113394
1274            461614             4.5          1     113394
1284            461629             4.5          1     113394

In [16]:
monitor_grupo.sesiones

[{'Sesion_id': 15944},
 {'Sesion_id': 19488},
 {'Sesion_id': 19489},
 {'Sesion_id': 19490},
 {'Sesion_id': 19491},
 {'Sesion_id': 19492}]

In [22]:
118.75+9.5

128.25

In [26]:
161.5-9.5

152.0

In [27]:
475/152

3.125

In [25]:
475/4+9.5

128.25

In [12]:
monitor_grupo.socios_acciones.loc[monitor_grupo.socios_acciones['Socio_id'] == 1324, 'Status'].values[0]

1

In [10]:
comp = dfs[0].compare(dfs[1])
comp

   Monto_ganancia
             self     other
24           1.25  1.428571
25           1.25  1.428571
26           1.25  1.428571
27           1.25  1.428571
28           1.25  1.428571
29           1.25  1.428571
30           1.25  1.428571

In [19]:
monitor_grupo.ganancias

    Ganancias_id  Monto_ganancia  Entregada  Socio_id  Sesion_id
0          49264        0.000000          0      1324       6994
1          49274        0.000000          0      1334       6994
2          49284        0.000000          0      1344       6994
3          49294        0.000000          0      1354       6994
4          49304        0.000000          0      1364       6994
5          49314        0.000000          0      1374       6994
6          49324        0.000000          0      1384       6994
7          49334        0.000000          0      1394       6994
8          52324        0.000000          0      1324       7434
9          52334        0.000000          0      1334       7434
10         52344        0.000000          0      1344       7434
11         52354        0.000000          0      1354       7434
12         52364        0.000000          0      1364       7434
13         52374        0.000000          0      1374       7434
14         52384        0.000000          0      1384       7434
15         52394        0.000000          0      1394       7434
16         52404        1.250000          0      1324       7444
17         52414        1.250000          0      1334       7444
18         52424        1.250000          0      1344       7444
19         52434        1.250000          0      1354       7444
20         52444        1.250000          0      1364       7444
21         52454        1.250000          0      1374       7444
22         52464        1.250000          0      1384       7444
23         52474        1.250000          0      1394       7444
24         52484        1.428571          0      1324       7454
25         52494        1.428571          0      1334       7454
26         52504        1.428571          0      1344       7454
27         52514        1.428571          0      1354       7454
28         52524        1.428571          0      1364       7454
29         52534        1.428571          0      1374       7454
30         52544        1.428571          0      1394       7454

In [ ]:
monitor_grupo

In [18]:
monitor_grupo.multas

,Multa_id,Monto_multa,Descripcion,Status,Sesion_id,Socio_id,Pago_en_sesion
0,1524,10.0,Multa # 1 socio 1534 grupo: 1574,1,7114,1534,0
1,1534,10.0,Multa # 1 socio 1584 grupo: 1574,1,7114,1584,0
2,1544,20.0,Multa # 1 socio 1614 grupo: 1574,1,7134,1614,0

In [22]:
monitor_grupo.prestamos

,Prestamo_id,Monto_prestamo,Monto_pagado,Interes_generado,Interes_pagado,Estatus_ampliacion,Num_sesiones,Sesiones_restantes,Estatus_prestamo,Socio_id,...,Interes_morosidad,Ampliacion_prestamos,Interes_ampliacion,Mod_calculo_interes,Tasa_interes_prestamo_grande,interes_futuro,Ultimo_interes_pagado,debe_interes,sobrante_abono,Ultimo_abono
0,2894,1000.0,1000.0,60.0,60.0,False,6,3,1,1574,...,0.0,0,None,1,1.5,0.0,0,0,0,0
1,2904,600.0,400.0,36.0,24.0,False,6,3,0,1524,...,0.0,0,None,1,1.5,12.0,12.0,12.0,200.0,212.0
2,2914,590.0,400.4,35.4,23.6,False,6,3,0,1554,...,0.0,0,None,1,1.5,11.8,11.8,11.8,200.2,212.0
3,2924,590.0,400.4,35.4,23.6,False,6,3,0,1604,...,0.0,0,None,1,1.5,11.8,11.8,11.8,200.2,212.0
4,2934,675.0,225.5,27.0,13.5,False,6,4,0,1544,...,0.0,0,None,1,1.5,13.5,13.5,13.5,225.5,239.0
5,2944,675.0,225.5,27.0,13.5,False,6,4,0,1564,...,0.0,0,None,1,1.5,13.5,13.5,13.5,225.5,239.0
6,2954,675.0,225.5,27.0,13.5,False,6,4,0,1584,...,0.0,0,None,1,1.5,13.5,13.5,13.5,225.5,239.0
7,2964,675.0,225.5,27.0,13.5,False,6,4,0,1594,...,0.0,0,None,1,1.5,13.5,13.5,13.5,225.5,239.0
8,2974,1000.0,0,20.0,0,False,6,5,0,1534,...,0.0,0,None,1,1.5,20.0,0,0,0,0
9,2984,1200.0,0,24.0,0,False,6,5,0,1574,...,0.0,0,None,1,1.5,24.0,0,0,0,0

In [19]:
monitor_grupo.ganancias

    Ganancias_id  Monto_ganancia  Entregada  Socio_id  Sesion_id
0          49504        0.000000          0      1524       7034
1          49514        0.000000          0      1534       7034
2          49524        0.000000          0      1544       7034
3          49534        0.000000          0      1554       7034
4          49544        0.000000          0      1564       7034
5          49554        0.000000          0      1574       7034
6          49564        0.000000          0      1584       7034
7          49574        0.000000          0      1594       7034
8          49584        0.000000          0      1604       7034
9          49594        0.000000          0      1614       7034
10         50104        2.000000          0      1524       7114
11         50114        2.000000          0      1534       7114
12         50124        2.000000          0      1544       7114
13         50134        2.000000          0      1554       7114
14         50144        2.000000          0      1564       7114
15         50154        2.000000          0      1574       7114
16         50164        2.000000          0      1584       7114
17         50174        2.000000          0      1594       7114
18         50184        2.000000          0      1604       7114
19         50194        2.000000          0      1614       7114
20         50204        2.500000          0      1524       7124
21         50214        1.666667          0      1534       7124
22         50224        2.500000          0      1544       7124
23         50234        1.666667          0      1554       7124
24         50244        1.666667          0      1564       7124
25         50254        2.500000          0      1574       7124
26         50264        2.500000          0      1584       7124
27         50274        2.500000          0      1594       7124
28         50284        1.666667          0      1604       7124
29         50294        0.833333          0      1614       7124
30         50304        8.297561          0      1524       7134
31         50314        7.375610          0      1534       7134
32         50324        9.219512          0      1544       7134
33         50334        5.531707          0      1554       7134
34         50344        6.453659          0      1564       7134
35         50354        9.219512          0      1574       7134
36         50364        9.219512          0      1584       7134
37         50374        9.219512          0      1594       7134
38         50384        7.375610          0      1604       7134
39         50394        3.687805          0      1614       7134
40         50404       12.608850          0      1524       7144
41         50414       11.638938          0      1534       7144
42         50424       11.638938          0      1544       7144
43         50434        7.759292          0      1554       7144
44         50444       10.669027          0      1564       7144
45         50454       13.578761          0      1574       7144
46         50464       13.578761          0      1584       7144
47         50474       11.638938          0      1594       7144
48         50484       10.669027          0      1604       7144
49         50494        5.819469          0      1614       7144

In [13]:
monitor_grupo.sesiones

[{'Sesion_id': 2174},
 {'Sesion_id': 6224},
 {'Sesion_id': 6234},
 {'Sesion_id': 6244},
 {'Sesion_id': 6254},
 {'Sesion_id': 6264},
 {'Sesion_id': 6274},
 {'Sesion_id': 6284},
 {'Sesion_id': 6294},
 {'Sesion_id': 6304}]

In [21]:
monitor_grupo.ganancias.groupby('Sesion_id').sum()

           Ganancias_id  Monto_ganancia  Entregada  Socio_id
Sesion_id
6994             394392             0.0          0     10872
7434             418872             0.0          0     10872
7444             419512            10.0          0     10872
7454             367598            10.0          0      9488