In [1]:
from cosecha_colectiva import miscelaneous as m
m.try_find_conf_file()

from cosecha_colectiva import main_tester as mt
from cosecha_colectiva import query_cosecha as qc
from cosecha_colectiva import config
from cosecha_colectiva import CAF_DB_Monitor as CDM
from cosecha_colectiva import test_cosecha_api as tca

import logging
import pathlib
from datetime import datetime
import pandas as pd

Local configuration file found !!, no need to run the configuration (unless configuration has changed)

[2023-04-19 12:28:19,058][INFO]: Connecting b3cf7edd2f8490@us-cdbr-east-06.cleardb.net:3306
[2023-04-19 12:28:19,839][INFO]: Connected b3cf7edd2f8490@us-cdbr-east-06.cleardb.net:3306

In [2]:
#xls_name = 'CAF_GrupoTesteador.xlsx'
xls_name = 'CAF_GrupoAstronomo.xlsx'
#xls_name = 'CAF_GrupoDomador.xlsx'
xls_name = 'CAF_GrupoMesero.xlsx'

In [3]:
id_grupo = qc.get_grupo_id_by_name(xls_name.split('.')[0])
print(id_grupo)

1294

In [4]:
qc.delete_grupo(id_grupo, solo_sesiones=True, force_delete=True)

([{'Transaccion_prestamo_id': 3434}, {'Transaccion_prestamo_id': 3444}, {'Transaccion_prestamo_id': 3454}, {'Transaccion_prestamo_id': 3464}, {'Transaccion_prestamo_id': 3474}, {'Transaccion_prestamo_id': 3484}, {'Transaccion_prestamo_id': 3494}, {'Transaccion_prestamo_id': 3504}, {'Transaccion_prestamo_id': 3514}], 'transaccion_prestamos')
DELETE from heroku_59f792929604e63.transaccion_prestamos WHERE Transaccion_prestamo_id in (3434, 3444, 3454, 3464, 3474, 3484, 3494, 3504, 3514)
([{'Transaccion_id': 16854}, {'Transaccion_id': 16864}, {'Transaccion_id': 16874}, {'Transaccion_id': 16884}, {'Transaccion_id': 16894}, {'Transaccion_id': 16904}, {'Transaccion_id': 16914}, {'Transaccion_id': 16924}, {'Transaccion_id': 16934}, {'Transaccion_id': 16944}, {'Transaccion_id': 16954}], 'transacciones')
DELETE from heroku_59f792929604e63.transacciones WHERE Transaccion_id in (16854, 16864, 16874, 16884, 16894, 16904, 16914, 16924, 16934, 16944, 16954)
([{'Interes_prestamo_id': 1904}, {'Interes_prestamo_id': 1914}, {'Interes_prestamo_id': 1924}, {'Interes_prestamo_id': 1934}, {'Interes_prestamo_id': 1944}, {'Interes_prestamo_id': 1954}, {'Interes_prestamo_id': 1964}, {'Interes_prestamo_id': 1974}, {'Interes_prestamo_id': 1984}], 'interes_prestamo')
DELETE from heroku_59f792929604e63.interes_prestamo WHERE Interes_prestamo_id in (1904, 1914, 1924, 1934, 1944, 1954, 1964, 1974, 1984)
([{'Ganancias_id': 36064}, {'Ganancias_id': 36074}, {'Ganancias_id': 36084}, {'Ganancias_id': 36094}, {'Ganancias_id': 36104}, {'Ganancias_id': 36114}, {'Ganancias_id': 36124}, {'Ganancias_id': 36134}, {'Ganancias_id': 36144}, {'Ganancias_id': 36154}, {'Ganancias_id': 36164}, {'Ganancias_id': 36174}, {'Ganancias_id': 36184}, {'Ganancias_id': 36194}, {'Ganancias_id': 36204}, {'Ganancias_id': 36214}, {'Ganancias_id': 36224}, {'Ganancias_id': 36234}, {'Ganancias_id': 36244}, {'Ganancias_id': 36254}, {'Ganancias_id': 36264}, {'Ganancias_id': 36274}, {'Ganancias_id': 36284}, {'Ganancias_id': 36294}, {'Ganancias_id': 36304}, {'Ganancias_id': 36314}, {'Ganancias_id': 36324}, {'Ganancias_id': 36334}, {'Ganancias_id': 36344}, {'Ganancias_id': 36354}, {'Ganancias_id': 36364}, {'Ganancias_id': 36374}, {'Ganancias_id': 36384}, {'Ganancias_id': 36394}, {'Ganancias_id': 36404}, {'Ganancias_id': 36414}, {'Ganancias_id': 36424}, {'Ganancias_id': 36434}, {'Ganancias_id': 36444}, {'Ganancias_id': 36454}, {'Ganancias_id': 36464}, {'Ganancias_id': 36474}, {'Ganancias_id': 36484}, {'Ganancias_id': 36494}, {'Ganancias_id': 36504}, {'Ganancias_id': 36514}, {'Ganancias_id': 36524}, {'Ganancias_id': 36534}, {'Ganancias_id': 36544}, {'Ganancias_id': 36554}, {'Ganancias_id': 36564}, {'Ganancias_id': 36574}, {'Ganancias_id': 36584}, {'Ganancias_id': 36594}, {'Ganancias_id': 36604}, {'Ganancias_id': 36614}, {'Ganancias_id': 36624}, {'Ganancias_id': 36634}, {'Ganancias_id': 36644}, {'Ganancias_id': 36654}], 'ganancias')
DELETE from heroku_59f792929604e63.ganancias WHERE Ganancias_id in (36064, 36074, 36084, 36094, 36104, 36114, 36124, 36134, 36144, 36154, 36164, 36174, 36184, 36194, 36204, 36214, 36224, 36234, 36244, 36254, 36264, 36274, 36284, 36294, 36304, 36314, 36324, 36334, 36344, 36354, 36364, 36374, 36384, 36394, 36404, 36414, 36424, 36434, 36444, 36454, 36464, 36474, 36484, 36494, 36504, 36514, 36524, 36534, 36544, 36554, 36564, 36574, 36584, 36594, 36604, 36614, 36624, 36634, 36644, 36654)
([], 'multas')
([], 'prestamos')
([{'Prestamo_id': 2294}, {'Prestamo_id': 2304}], 'prestamos')
DELETE from heroku_59f792929604e63.prestamos WHERE Prestamo_id in (2294, 2304)
([{'Asistencia_id': 44524}, {'Asistencia_id': 44534}, {'Asistencia_id': 44544}, {'Asistencia_id': 44554}, {'Asistencia_id': 44564}, {'Asistencia_id': 44574}, {'Asistencia_id': 44584}, {'Asistencia_id': 44594}, {'Asistencia_id': 44604}, {'Asistencia_id': 44614}, {'Asistencia_id': 44624}, {'Asistencia_id': 44634}, {'Asistencia_id': 44644}, {'Asistencia_id': 44654}, {'Asistencia_id': 44664}, {'Asistencia_id': 44674}, {'Asistencia_id': 44684}, {'Asistencia_id': 44694}, {'Asistencia_id': 44704}, {'Asistencia_id': 44714}, {'Asistencia_id': 44724}, {'Asistencia_id': 44734}, {'Asistencia_id': 44744}, {'Asistencia_id': 44754}, {'Asistencia_id': 44764}, {'Asistencia_id': 44774}, {'Asistencia_id': 44784}, {'Asistencia_id': 44794}, {'Asistencia_id': 44804}, {'Asistencia_id': 44814}, {'Asistencia_id': 44824}, {'Asistencia_id': 44834}, {'Asistencia_id': 44844}, {'Asistencia_id': 44854}, {'Asistencia_id': 44864}, {'Asistencia_id': 44874}, {'Asistencia_id': 44884}, {'Asistencia_id': 44894}, {'Asistencia_id': 44904}, {'Asistencia_id': 44914}, {'Asistencia_id': 44924}, {'Asistencia_id': 44934}, {'Asistencia_id': 44944}, {'Asistencia_id': 44954}, {'Asistencia_id': 44964}, {'Asistencia_id': 44974}, {'Asistencia_id': 44984}, {'Asistencia_id': 44994}, {'Asistencia_id': 45004}, {'Asistencia_id': 45014}, {'Asistencia_id': 45024}, {'Asistencia_id': 45034}, {'Asistencia_id': 45044}, {'Asistencia_id': 45054}, {'Asistencia_id': 45064}, {'Asistencia_id': 45074}, {'Asistencia_id': 45084}, {'Asistencia_id': 45094}, {'Asistencia_id': 45104}, {'Asistencia_id': 45114}], 'asistencias')
DELETE from heroku_59f792929604e63.asistencias WHERE Asistencia_id in (44524, 44534, 44544, 44554, 44564, 44574, 44584, 44594, 44604, 44614, 44624, 44634, 44644, 44654, 44664, 44674, 44684, 44694, 44704, 44714, 44724, 44734, 44744, 44754, 44764, 44774, 44784, 44794, 44804, 44814, 44824, 44834, 44844, 44854, 44864, 44874, 44884, 44894, 44904, 44914, 44924, 44934, 44944, 44954, 44964, 44974, 44984, 44994, 45004, 45014, 45024, 45034, 45044, 45054, 45064, 45074, 45084, 45094, 45104, 45114)
([{'Sesion_id': 5244}, {'Sesion_id': 5254}, {'Sesion_id': 5264}, {'Sesion_id': 5274}, {'Sesion_id': 5284}, {'Sesion_id': 5294}], 'sesiones')
DELETE from heroku_59f792929604e63.sesiones WHERE Sesion_id in (5244, 5254, 5264, 5274, 5284, 5294)
([], 'acuerdos')

In [5]:
now = datetime.now()
log_date = now.strftime("%Y-%m-%d_%H_%M_%S")
log_file = pathlib.Path(config.log_dir, log_date+'_Sesiones.log')
logging.basicConfig(filename=log_file, encoding='utf-8', level=logging.DEBUG)

In [6]:
monitor_grupo = CDM.CAF_DB_Monitor(id_grupo)

In [8]:
start_month = 7
end_month = 9

for month in range(start_month, end_month+1):

    print('month: ', month)

    try:
        monitor_grupo.actualiza_todo_sesion(xls_name, month, type_xls='NEW')
    except Exception as e:
        print(e)
        raise(e)
    try:
        mt.test_sesion_months(xls_name, month, month, type_xls='NEW')
    except Exception as e:
        print(e)
    [status, dfs] = monitor_grupo.compara_db_monitor()
    #if not status:
    #    print('Algo no coincidi√≥')
    #    break

month:  7
prestamos No coinciden monitor y db
month:  8
prestamos No coinciden monitor y db
month:  9
prestamos No coinciden monitor y db

In [9]:
monitor_grupo.interes_prestamo

    Interes_prestamo_id Prestamo_id  Sesion_id Monto_interes  Tipo_interes
0                  1994        2314       5314          10.0             0
1                  2004        2314       5324          20.0             0
2                  2014        2324       5324          10.0             0
3                  2024        2314       5334          30.0             0
4                  2034        2324       5334          20.0             0
5                  2044        2314       5344          40.0             0
6                  2054        2324       5344          30.0             0
7                  2064        2314       5354          57.5             1
8                  2074        2324       5354          40.0             0
9                  2084        2314       5364          75.0             1
10                 2094        2324       5364          50.0             0
11                 2104        2314       5374          92.5             1
12                 2114        2314       5384         110.0             1

In [10]:
monitor_grupo.prestamos

,Prestamo_id,Monto_prestamo,Monto_pagado,Interes_generado,Interes_pagado,Estatus_ampliacion,Num_sesiones,Sesiones_restantes,Estatus_prestamo,Socio_id,...,Interes_morosidad,Ampliacion_prestamos,Interes_ampliacion,Mod_calculo_interes,Tasa_interes_prestamo_grande,interes_futuro,Ultimo_interes_pagado,debe_interes,sobrante_abono,Ultimo_abono
0,2314,500.0,290.0,110.0,110.0,False,4,-4,0,1234,...,1.5,1,1.5,1,1.5,17.5,17.5,17.5,32.5,50.0
1,2324,500.0,500.0,50.0,50.0,False,6,1,1,1244,...,1.5,1,1.5,1,1.5,0.0,0,0,0,0

In [13]:
monitor_grupo.ganancias.tail(30)

    Ganancias_id  Monto_ganancia  Entregada  Socio_id  Sesion_id
60         37264            2.75          0      1194       5364
61         37274            2.75          0      1204       5364
62         37284            2.75          0      1214       5364
63         37294            2.75          0      1224       5364
64         37304            2.75          0      1234       5364
65         37314            2.75          0      1244       5364
66         37324            2.75          0      1254       5364
67         37334            2.75          0      1264       5364
68         37344            2.75          0      1274       5364
69         37354            2.75          0      1284       5364
70         37364            1.75          0      1194       5374
71         37374            1.75          0      1204       5374
72         37384            1.75          0      1214       5374
73         37394            1.75          0      1224       5374
74         37404            1.75          0      1234       5374
75         37414            1.75          0      1244       5374
76         37424            1.75          0      1254       5374
77         37434            1.75          0      1264       5374
78         37444            1.75          0      1274       5374
79         37454            1.75          0      1284       5374
80         37464            1.75          0      1194       5384
81         37474            1.75          0      1204       5384
82         37484            1.75          0      1214       5384
83         37494            1.75          0      1224       5384
84         37504            1.75          0      1234       5384
85         37514            1.75          0      1244       5384
86         37524            1.75          0      1254       5384
87         37534            1.75          0      1264       5384
88         37544            1.75          0      1274       5384
89         37554            1.75          0      1284       5384